# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
/examples/c99inttest/Debug
/examples/c99inttest/Release
/examples/c99inttest/x64
*.suo
